<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testing bootstrap</title>

    <link rel="stylesheet" type="text/css" href="{% static "sunil_shop/sunil_shop.css" %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-style">
    <div class="navbar-inner">
       <div class="container-fluid">
           <div class="navbar-header">
               <!--<a href="#"><img class="logo" src="{% static "sunil_shop/snl.png" %}"></a> -->
            <p class="logo">myprintworld.com</p>
           </div>
           <ul class="nav navbar-nav navbar-right">
               <li><a href="#">Home</a></li>
               <li><a href="#">Gallery</a></li>
               <li><a href="#">About Us</a></li>
               <li><a href="#">Contact Us</a></li>
           </ul>
       </div>
   </div>
</nav>

<div class="container-fluid full">

</div>

</body>
</html>