
<!Doctype html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myprintworld.com</title>

    <link rel="stylesheet" type="text/css" href="{% static "sunil_shop/main_stylesheet.css" %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>

<header class="header">

    <nav class="nav navbar-style">
        <div class="container responsive">
            <div class="navbar-header">

                <a href="#"><img class="logo" src="{% static "sunil_shop/snl.png" %}"></a>
            </div>

            <ul class="nav navbar-nav nav-right">
                <li><a href="#">Home</a> </li>
                <li><a href="#">Team</a> </li>
                <li><a href="#">Gallery</a> </li>
                <li><a href="#">Flavour</a> </li>
                <li><a href="#">Contact Us</a> </li>

            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-6"></div>
        </div>
    </div>
</header>












</body>
</html>